#navbar a.active:not(.navbar-brand) {
    background-color: #1b1b1c;
    border-radius: 10px;
}

#navbar a.active.light:not(.navbar-brand) {
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
}